@media only screen and (max-width: 1200px) {
    .header
    {
        padding: 0px 100px;
    }
}
@media only screen and (max-width: 700px) {
    .header
    {
        padding: 0px 33px;
    }
    .logo
    {
        width: 180px;
    }
}
@media only screen and (max-width: 450px) {
    .logo
    {
        width: 143px;
    }
}
@media only screen and (max-width: 375px) {
    .header
    {
        padding: 0px 20px;
    }
    .logo
    {
        width: 120px;
    }
    .sign-in-div
    {
        height: 413px;
        width: 342px;
    }
    .sign-in-container
    {
        padding: 3px 8px;
    }
    .log-text
    {
        font-size: 12px;
    }
}