@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body
{
    height: 100vh;
}
.header
{
    height: 90px;
    padding: 0px 250px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: box-shadow 280ms;
    justify-content: space-between;
}
.header:hover
{
    box-shadow: -77px 109px 53px rgba(255, 0, 0, 0.01), -43px 61px 45px rgba(255, 0, 0, 0.03), -19px 27px 33px rgba(255, 0, 0, 0.04), -5px 7px 18px rgba(255, 0, 0, 0.05), 0px 0px 0px rgba(255, 0, 0, 0.05);
}
.logo {
    width: 200px;
    transform: translateY(-4px);
}
.log-section
{
    display: flex;
    align-items: center;
    gap: 7px;
}
.log-text
{
    font-weight: 600;
    color: rgb(54, 54, 54);
}
.sign-in-container
{
    padding: 6px 13px;
    border-radius: 6px;
    border: 1px solid rgb(212, 212, 212);
    transition: background 200ms, color 200ms;
    transition: 360ms;
    cursor: pointer;
}
.sign-in-container:hover
{
    border: 1px solid rgb(37, 37, 37);
}
.log-contaienr
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 13px;
    transition: 200ms;
    border-radius: 6px;
}
.client-log-popup
{
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.sign-in-div
{
    z-index: 1000;
    height: 460px;
    width: 400px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 14px 20px 20px 20px;
}
.sign-in-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1.3px solid rgb(224, 224, 224);
}
.sign-in-top-img
{
    width: 120px;
    pointer-events: none;
}
.sign-in-close
{
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #f72601;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 144ms;
}
.sign-in-close::before
{
    content: '';
    height: 13px;
    width: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
}
.sign-in-close::after
{
    content: '';
    height: 13px;
    width: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(135deg);
}
.sign-in-close:hover
{
    background: #5a0e01;
}
.username-container
{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#username-input
{
    padding: 7px 0px 7px 10px;
    border: none;
    outline: 2px solid rgb(160, 160, 160);
    border-radius: 6px;
    transition: 240ms;
}
#username-input:hover
{
    outline: 2px solid #5a5a5a;
}
.e-mail-container
{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#e-mail-input
{
    padding: 7px 0px 7px 10px;
    border: none;
    outline: 2px solid rgb(160, 160, 160);
    border-radius: 6px;
    transition: 240ms;
}
#e-mail-input:hover
{
    outline: 2px solid #5a5a5a;
}
.red-star
{
    color: red;
}
.sign-in-span
{
    color: #6d6d6d;
    font-weight: 400;
}
.password-container
{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#password-input
{
    padding: 7px 0px 7px 10px;
    border: none;
    outline: 2px solid rgb(160, 160, 160);
    border-radius: 6px;
    transition: 240ms; 
}
#password-input:hover
{
    outline: 2px solid #5a5a5a;
}
.sign-in-btn-container
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.sign-in-btn
{
    padding: 6.5px 17px;
    border: none;
    border-radius: 6px;
    background: #5364f8;
    color: white;
    transition: background 400ms;
    cursor: pointer;
}
.sign-in-btn:hover
{
    background: #2c3379;
}