@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body
{
    height: 100vh;
}
.header
{
    height: 90px;
    padding: 0px 250px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: box-shadow 280ms;
    justify-content: space-between;
}
.header:hover
{
    box-shadow: -77px 109px 53px rgba(255, 0, 0, 0.01), -43px 61px 45px rgba(255, 0, 0, 0.03), -19px 27px 33px rgba(255, 0, 0, 0.04), -5px 7px 18px rgba(255, 0, 0, 0.05), 0px 0px 0px rgba(255, 0, 0, 0.05);
}
.logo {
    width: 200px;
    transform: translateY(-4px);
}
.log-section
{
    display: flex;
    align-items: center;
    gap: 21px;
}
.log-text
{
    font-weight: 600;
    color: rgb(54, 54, 54);
}
.sign-in-container
{
    padding: 6px 13px;
    border-radius: 6px;
    border: 1px solid rgb(212, 212, 212);
    transition: background 200ms, color 200ms;
}